---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <hr />
  </header>
  <div class="post-content">
    {{ content }}
  </div>
<div id="home">
  <body>
 <!-- This script installs service_worker.js to provide PWA functionality to
       application. For more information, see:
       https://developers.google.com/web/fundamentals/primers/service-workers -->
 <!--  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        navigator.serviceWorker.register('/flutter_service_worker.js');
      });
    }
  </script>
  <script src="main.dart.js" type="application/javascript"></script> -->
 
 <iframe src="../giffyquotes_app/index.html" width="800px" height="600px" style="border:none;" align="center"> </iframe>
</br>
</body>

     </div><!-- end #home -->

</article>

